<model>
    <name>NIC Card Mount</name>
    <version>1.0</version>
    <sdf version='1.9'>model.sdf</sdf>

    <author>
        <name>Cole Biesemeyer</name>
        <email>cole.bsmr@gmail.com</email>
    </author>

    <description>
        Part that holds an NIC card.
    </description>
</model>