<?xml version="1.0" ?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:macro name="nic_card_mount" params="prefix pose">
    <gazebo>
      <include>
        <name>${prefix}</name>
        <uri>package://aic_assets/models/NIC Card Mount</uri>
        <pose>${pose}</pose>
        <plugin
          filename="gz-sim-touchplugin-system"
          name="gz::sim::systems::TouchPlugin">
          <target>sfp_tip_link/collision/contact_collision</target>
          <time>1</time>
          <namespace>${prefix}/sfp_port_0</namespace>
          <enabled>true</enabled>
          <collision>contact_collision_01</collision>
        </plugin>
        <plugin
          filename="gz-sim-touchplugin-system"
          name="gz::sim::systems::TouchPlugin">
          <target>sfp_tip_link/collision/contact_collision</target>
          <time>1</time>
          <namespace>${prefix}/sfp_port_1</namespace>
          <enabled>true</enabled>
          <collision>contact_collision_02</collision>
        </plugin>

      </include>
    </gazebo>
  </xacro:macro>

</robot>
