<?xml version="1.0" ?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

  <!-- TF prefix parameter -->
  <xacro:property name="tf_prefix" value="ati/"/>
  <!-- adapter_offset is the effective length that the adapter adds to the endeffector -->
  <xacro:property name="adapter_offset" value="0.0245"/>

  <xacro:macro name="axia80_m20" params="tf_prefix">
    <link name="${tf_prefix}base_link">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="0.36"/>
        <inertia ixx="0.0017389750000000002" ixy="0" ixz="0"
                 iyy="0.0017389750000000002" iyz="0"
                 izz="0.0002521499999999999"/>
      </inertial>

      <visual name="axia_ft_sensor_visual">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://aic_assets/models/Axia80 M20/axia_ft_sensor_visual.glb"/>
        </geometry>
      </visual>
      <collision name="axia80_m20_collider_cylinder">
        <origin xyz="0.0 -0.000004 0.012699" rpy="3.141593 0.0 0.0"/>
        <geometry>
          <cylinder length="0.025399" radius="0.041519"/>
        </geometry>
      </collision>
      <collision name="axia80_m20001_collider_cylinder">
        <origin xyz="0.0 0.041828 0.018432" rpy="-1.570796 0 0"/>
        <geometry>
          <cylinder radius="0.006027" length="0.016717"/>
        </geometry>
      </collision>
    </link>

    <joint name="${tf_prefix}attach_joint" type="fixed">
      <origin xyz="0 0 ${adapter_offset}" rpy="0 0 0"/>
      <parent link="${tf_prefix}base_link"/>
      <child link="${tf_prefix}tool_link"/>
    </joint>

    <link name="${tf_prefix}tool_link">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="0.001"/>
        <inertia ixx="0.000001" ixy="0" ixz="0"
                 iyy="0.000001" iyz="0"
                 izz="0.000001"/>
      </inertial>
    </link>

    <gazebo reference="${tf_prefix}attach_joint">
      <preserveFixedJoint>true</preserveFixedJoint>
      <sensor name="AtiForceTorqueSensor" type="force_torque">
        <always_on>1</always_on>
        <visualize>1</visualize>
        <update_rate>100</update_rate>
        <topic>/axia80_m20/wrench</topic>
        <force_torque>
          <!-- Set to ensure forces are expressed in `AtiForceTorqueSensor`-->
          <frame>sensor</frame>
          <!-- Realistic noise as measured in ATI Mini 45 hardware experiments -->
          <force>
            <x>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>0.2</stddev>
              </noise>
            </x>
            <y>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>0.2</stddev>
              </noise>
            </y>
            <z>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>0.2</stddev>
              </noise>
            </z>
          </force>
          <torque>
            <x>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>0.05</stddev>
              </noise>
            </x>
            <y>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>0.05</stddev>
              </noise>
            </y>
            <z>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>0.05</stddev>
              </noise>
            </z>
          </torque>
        </force_torque>
      </sensor>
    </gazebo>

  </xacro:macro>

</robot>