<model>
    <name>SC_Port</name>
    <version>1.0</version>
    <sdf version='1.9'>model.sdf</sdf>

    <author>
        <name>Cole Biesemeyer</name>
        <email>cole.bsmr@gmail.com</email>
    </author>

    <description>
        Duplex port for SC cable. 
    </description>
</model>