<?xml version="1.0" ?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:macro name="sc_port" params="prefix pose">
    <gazebo>
      <include>
        <name>${prefix}</name>
        <uri>package://aic_assets/models/SC Port</uri>
        <pose>${pose}</pose>
        <plugin
          filename="gz-sim-touchplugin-system"
          name="gz::sim::systems::TouchPlugin">
          <target>sc_plug</target>
          <time>1</time>
          <namespace>${prefix}/sc_port_base</namespace>
          <enabled>true</enabled>
        </plugin>
      </include>
    </gazebo>
  </xacro:macro>

</robot>
