<?xml version="1.0" ?>
<sdf version="1.9" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="attach_cable_to_gripper" default="false"/>
  <xacro:arg name="cable_type" default="sfp_sc_cable"/>

  <xacro:property name="cable_type" value="$(arg cable_type)" />
  <xacro:property name="end_effector_model" value="ur5e" />
  <xacro:property name="end_effector_link" value="ati/tool_link" />

  <xacro:if value="${cable_type == 'sfp_sc_cable'}">
    <xacro:property name="cable_connection_0_link" value="lc_plug_link" />
    <xacro:property name="cable_connection_0_port" value="nic_card_mount" />
    <xacro:property name="cable_connection_1_link" value="sc_plug_link" />
  </xacro:if>
  <xacro:if value="${cable_type == 'sfp_sc_cable_reversed'}">
    <xacro:property name="cable_connection_0_link" value="sc_plug_link" />
    <xacro:property name="cable_connection_0_port" value="sc_port_base" />
    <xacro:property name="cable_connection_1_link" value="lc_plug_link" />
  </xacro:if>

  <model name="cable">
    <static>false</static>
    <self_collide>true</self_collide>
    <include merge="true">
      <uri>model://${cable_type}</uri>
      <xacro:if value="$(arg attach_cable_to_gripper)">
      <plugin filename="CablePlugin" name="aic_gazebo::CablePlugin">
        <cable_connection_0_link>${cable_connection_0_link}</cable_connection_0_link>
        <cable_connection_0_port>${cable_connection_0_port}</cable_connection_0_port>
        <cable_connection_1_link>${cable_connection_1_link}</cable_connection_1_link>
        <end_effector_model>${end_effector_model}</end_effector_model>
        <end_effector_link>${end_effector_link}</end_effector_link>
        <create_connection_delay_s>0</create_connection_delay_s>
      </plugin>
      </xacro:if>

      <plugin filename="libgz-sim-pose-publisher-system.so"
        name="gz::sim::systems::PosePublisher">
        <publish_link_pose>true</publish_link_pose>
        <publish_sensor_pose>false</publish_sensor_pose>
        <publish_collision_pose>false</publish_collision_pose>
        <publish_visual_pose>false</publish_visual_pose>
        <publish_nested_model_pose>true</publish_nested_model_pose>
        <publish_model_pose>true</publish_model_pose>
        <use_pose_vector_msg>true</use_pose_vector_msg>
        <static_publisher>false</static_publisher>
        <update_frequency>0</update_frequency>
        <static_update_frequency>0</static_update_frequency>
      </plugin>
    </include>
  </model>
</sdf>
