<model>
    <name>Robotiq Hand-E</name>
    <version>1.0</version>
    <sdf version='1.9'>model.sdf</sdf>

    <author>
        <name>Cole Biesemeyer</name>
        <email>cole.bsmr@gmail.com</email>
    </author>

    <description>
        Robotiq Hand-E gripper.
    </description>
</model>
