<model>
    <name>Enclosure</name>
    <version>1.0</version>
    <sdf version='1.9'>model.sdf</sdf>

    <author>
        <name>Daniel Sturman, Cole Biesemeyer</name>
        <email>cole.bsmr@gmail.com</email>
    </author>

    <description>
        Robotics workcell enclosure walls. 
    </description>
</model>
