<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:macro name="basler_camera" params="name tf_prefix use_sim_cam">

    <link name="${tf_prefix}camera_link">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="0.001"/>
        <inertia ixx="0.00002083" ixy="0" ixz="0"
                 iyy="0.00002083" iyz="0"
                 izz="0.000015"/>
      </inertial>

      <visual name="basler_cam_visual">
        <origin xyz="0 0 0" rpy="-1.5708 0 -1.5708"/>
        <geometry>
          <mesh filename="package://aic_assets/models/Basler Camera/basler_cam_visual.glb"/>
        </geometry>
      </visual>

      <collision name="body_collider_box">
        <origin xyz="0.00255 0 0.0145" rpy="0 0 0"/>
        <geometry>
          <box size="0.0483 0.029 0.029"/>
        </geometry>
      </collision>

      <collision name="lens_collider_cylinder">
        <origin xyz="0.04833 0 0.0145" rpy="0 1.5708 0"/>
        <geometry>
          <cylinder radius="0.015631" length="0.04326"/>
        </geometry>
      </collision>
    </link>

    <link name="${tf_prefix}sensor_link">
      <!-- inertial property required for valid conversion to SDF,
        so we set a tiny mass and M.O.I. here -->
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="0.001"/>
        <inertia ixx="0.000001" ixy="0" ixz="0"
                 iyy="0.000001" iyz="0"
                 izz="0.000001"/>
      </inertial>
    </link>

    <!-- The sensor surface is 21.174mm in front of the M3 mounting hole -->
    <joint name="${tf_prefix}attach_sensor_link" type="fixed">
      <origin xyz="0.02174 0 0.0145" rpy="0 0 0"/>
      <parent link="${tf_prefix}camera_link"/>
      <child link="${tf_prefix}sensor_link"/>
    </joint>

    <gazebo reference="${tf_prefix}attach_sensor_link">
      <preserveFixedJoint>true</preserveFixedJoint>
    </gazebo>

    <link name="${tf_prefix}optical">
      <!-- inertial property required for valid conversion to SDF,
        so we set a tiny mass and M.O.I. here -->
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="0.001"/>
        <inertia ixx="0.000001" ixy="0" ixz="0"
                 iyy="0.000001" iyz="0"
                 izz="0.000001"/>
      </inertial>
    </link>

    <!-- The optical frame is at the same origin as the sensor frame
         but is Z=forward, rather than Z=up. -->
    <joint name="${tf_prefix}attach_optical" type="fixed">
      <origin xyz="0 0 0" rpy="-1.5708 0 -1.5708"/>
      <parent link="${tf_prefix}sensor_link"/>
      <child link="${tf_prefix}optical"/>
    </joint>

    <gazebo reference="${tf_prefix}attach_optical">
      <preserveFixedJoint>true</preserveFixedJoint>
    </gazebo>


    <xacro:if value="${use_sim_cam}">
      <gazebo reference="${tf_prefix}sensor_link">
        <sensor name="${name}" type="rgbd_camera">
          <pose>0 0 0 0 0 0</pose>
          <update_rate>20.0</update_rate>
          <topic>/${name}</topic>
          <always_on>true</always_on>
          <frame_id>${tf_prefix}sensor_link</frame_id>
          <camera name="${name}">
            <camera_info_topic>/${name}/camera_info</camera_info_topic>
            <optical_frame_id>${tf_prefix}optical</optical_frame_id>
            <image>
              <width>1152</width>
              <height>1024</height>
              <format>R8G8B8</format>
            </image>
            <horizontal_fov>0.8718</horizontal_fov>
            <clip>
              <near>0.07</near>
              <far>20</far>
            </clip>
          </camera>
        </sensor>
      </gazebo>
    </xacro:if>

  </xacro:macro>

</robot>
